<div class="w-full">

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl pl-20">Categories</h1>
    <%= link_to new_category_path do %>
      <i class="fa-solid fa-circle-plus fa-beat fixed right-36 bottom-28 text-black text-6xl "></i>
    <% end %>
  </div>

  <div id="categories" class="min-w-full pl-16 pr-16 flex flex-row">
    <%= render @categories %>
  </div>
</div>
